body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.page {
  width: 1000px;
  margin: 65px auto 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}
ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #1f1534;
}
ul li a:hover {
  font-weight: bold;
}
h1,
ul {
  font-family: 'Mulish', sans-serif;
}
h1 {
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  width: 490px;
  color: #1f1534;
}
h1 span {
  font-weight: bold;
  color: #89c5cc;
}
p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
}
button {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
footer {
  font-size: 14px;
  line-height: 28px;
}
footer a {
  font-weight: bold;
}
